<div class="BoxNewCta">
  <div class="NewCtaRibbon">
    <span _msttexthash="222755" _msthash="25">SUSCRÍBETE AHORA</span>
  </div>
  <form action="">
    <h2>¿Quieres más clientes y clientes?</h2>
    <p>
      Nuestra capacitación gratuita revela las 10 lecciones principales que ayudaron a nuestro CEO a ganar más de $ 10,000,000
      con contenido.
      <br/> <br/> Ingrese su correo electrónico y consígalo por $ 0 ahora antes de que lo convirtamos en un producto pago a
      finales de este año:
    </p>
    <input type="text" placeholder="Correo Electronico*"/>
    <input type="submit" value="Obtén la Capacitación Gratuita"/>
    <span>No te enviaremos spam. Cancela la suscripción en cualquier momento.</span>
  </form>
</div>