<footer>
  {% include "box-new-cta.njk" %}
  <div class="afiliate">
    <i>Este sitio contiene enlaces de afiliados a productos. Es posible que recibamos una comisión por las compras
      realizadas a través de estos enlaces. Sin embargo, esto no afecta nuestras reseñas y comparaciones. Solo sugerimos
      productos que hemos revisado y, en muchos casos, también usamos, para ayudarlo a tomar las mejores decisiones.</i>
  </div>
  <p>Derechos de autor © 2006–2024 Copyblogger Media LLC</p>
  <div class="nav-footer">
    <ul>
      <li>
        <a href="apoyo-al-cliente">Apoyo al cliente
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="política-de-comentarios">Política de comentarios
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="política-de-privacidad">Política de privacidad
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="política-de-cookies">Política de cookies
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="política-de-reembolsa">Política de reembolso</a>
      </li>
    </ul>
    <ul>
      <li><a href="letra-chica">Letra chica</a></li>
    </ul>
  </div>
</footer>