<nav class="navbar">
  <div class="grir-parent">
    <div class="grid-item">
      <div class="logo">
        <a href="/">
          <img src="https://copyblogger.com/wp-content/themes/copyblogger_5.0/images/logo2@2x.png" alt="logo">
        </a>
      </div>
      <ul class="menu">
        <li>
          <a href="/articulos ">Artículos
          </a>
        </li>
        <li>
          <a href="/acerca-de">Acerca de</a>
        </li>
        <li>
          <a href="/servicios">Servicios</a>
        </li>
        <li>
          <a href="/marketing-de-contenidos">Marketing de Contenidos</a>
        </li>
        <li>
          <a href="/marketers-de-contenidos-certificados">Marketers de Contenidos Certificados</a>
        </li>
        <li>
          <a href="/academia">Academia</a>
        </li>
      </ul>
    </div>
  </div>
</nav>