---
layout: layout-page.njk
title: Academia
description: 🔺Meta descripción de la página de acerca
---

<div class="container-pagina">
  <h1>{{ title }}</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est consectetur doloribus esse fugit modi quos in at harum
    quidem, quas tempora iusto laboriosam, praesentium repellat pariatur sint mollitia quasi molestias.
  </p>
  <img src="https://placehold.co/960x960/dodgerblue/cyan" alt="img">
</div>