---
layout: layout-page.njk
title: Servicios
description: Meta descripción de la página de contacto
---

<div class="container-pagina">
  <h1>{{ title }}</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut blanditiis iure soluta non excepturi ratione amet unde
    quam. Vel id omnis nostrum explicabo obcaecati eveniet facilis reprehenderit exercitationem temporibus sint.
  </p>
  <img src="https://placehold.co/960x960/lime/green" alt="img">
</div>